@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

/*************************GLOBAL*************************/

* {
  box-sizing: border-box;

  --main-blue: #0065fc;
  --clear-blue: #deebff;
  --grey: #f2f2f2;
  --black: #000;
  --white: #fff;

  --main-padding: 25px 50px;
}

/*************************HEADER*************************/
h1 {
  font-size: 20px;
}
.mainheader {
  border: 4px solid blue;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 94px;
  height: fit-content;
  position: relative;
  top: 20px;
  margin-left: 65px;
}

.menu ul {
  display: flex;
}
.menu li {
  width: 50%;
}
.menu .menu-entry {
  display: block;
  position: relative;
  padding: 25px 50px;
  border-top: 3px solid var(--white);
  text-align: center;
}
.menu .menu-entry:hover,
.menu .menu-entry:active {
  border-top: 3px solid var(--main-blue);
  color: var(--main-blue);
  box-sizing: border-box;
}
/* tablette */
@media (max-width: 992px) {
  .mainheader {
    border: 4px solid red;
  }
}
/* mobile */
@media (max-width: 768px) {
  .mainheader {
    border: 4px solid orange;
    flex-direction: column;
  }
  .logo {
    margin: 0 auto;
  }
  nav.menu {
    position: relative;
    top: 20px;
  }
  .menu .menu-entry {
    padding: 25px 25px 15px 25px;
    border-top: 0px solid;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--white);
  }
  .menu .menu-entry:hover,
  .menu .menu-entry:active {
    border-top: 0px solid;
    border-bottom: 3px solid var(--main-blue);
  }
}
/*************************SUBHEADER*************************/

.subheader {
  border: 1px solid green;
  padding: var(--main-padding);
}

/*************************FILTRES*************************/

.filters {
  border: 1px solid yellow;
  padding: var(--main-padding);
  display: flex;
  flex-wrap: wrap;

  align-items: center;
}
.sort-title {
  margin: 0px 10px 0 0;
}

.filter-icon {
  border-radius: 30px;
  background-color: var(--clear-blue);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-icon i {
  color: var(--main-blue);
}
.filter-box {
  border: 2px solid var(--grey);
  border-radius: 30px;
  display: flex;
  margin: 10px 10px 10px 0;
  font-size: 16px;
  font-weight: 800;
  align-items: center;
}
.filter-text {
  padding: 0 10px;
}
/* mobile */
@media (max-width: 768px) {
  .sort-title {
    display: block;
    width: 100%;
  }
}
/*************************CONTENT*************************/
.info-text {
  display: flex;
  align-items: center;
}
.info-text .fa-info {
  color: var(--main-blue);
}
.text-icon {
  border: 2px solid var(--grey);
  border-radius: 30px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.content {
  padding: var(--main-padding);
}

.flex-content {
  display: flex;
}
@media (max-width: 768px) {
  .content {
    padding: 20px;
  }
}
/**************************GREY BLOCKS*******************/
.grey-rounded-title {
  margin-left: 15px;
  margin-bottom: 5px;
}

.grey-rounded-box {
  border-radius: 25px;
  padding: 25px;
  background-color: var(--grey);
}
article.grey-rounded-box {
  flex-grow: 2;
  max-width: calc(69% - 34px);
  margin-right: 40px;
  position: relative;
}
aside.grey-rounded-box {
  flex-grow: 1;
  max-width: 30%;
  padding: 40px;
}

.flex-wrap-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.see-more {
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding: 30px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/* tablette */
@media (max-width: 992px) {
  .see-more {
    font-size: 16px;
    padding: 20px;
    text-align: center;
    background-color: var(--grey);
    border-radius: 0 0 25px 25px;
  }
  article.grey-rounded-box {
    flex-grow: 1;
    max-width: 50%;
    max-height: 656px;
    overflow: hidden;
  }
  aside.grey-rounded-box {
    flex-grow: 1;
    max-width: 50%;
  }
}

/* mobile */
@media (max-width: 768px) {
  .see-more {
    position: relative;
    background-color: transparent;
    text-align: left;
  }
  .hebergements.content {
    padding: 0px;
  }
  .flex-content {
    /* border: 4px solid orange; */
    flex-direction: column-reverse;
  }
  article.grey-rounded-box {
    max-width: 100%;
    margin-right: 0px;
    position: relative;
    max-height: none;
    background-color: var(--white);
  }
  aside.grey-rounded-box {
    border-radius: 0px;
    flex-grow: 1;
    max-width: 100%;
    padding: 20px;
  }
}
/**************************ROUNDED BOX*******************/

.rounded-box {
  border: 4px solid var(--white);
  border-radius: 20px;
  background-color: var(--white);
  overflow: hidden;
  width: 29%;
  -webkit-box-shadow: 0 8px 15px 4px #cfcfcf;
  box-shadow: 0 8px 15px 4px #cfcfcf;
  margin: 15px 0;
  display: block;
}
/* tablette */
@media (max-width: 992px) {
  .rounded-box {
    width: 100%;
  }
}
/*div*/
.rounded-box-image {
  overflow: hidden;
  height: 120px;
  /* border: 1px solid red; */
  width: 100%;
  position: relative;
}
.rounded-box-image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rounded-box-desc {
  padding: 10px;
}
.marked-title {
  position: relative;
}
.marked-title .fa-star {
  position: absolute;
  right: 0;
}
.stars .fa-star {
  color: var(--grey);
  font-size: 11px;
}

.stars .fa-star.checked {
  color: var(--main-blue);
}

/**************************ROUNDED BOX HORIZONTAL*******************/
.rounded-box.horizontal {
  display: flex;
  max-width: 100%;
  margin: 20px 0px 30px 0px;
  width: 100%;
}
.rounded-box.horizontal .rounded-box-image {
  height: 140px;
  width: 130px;
  overflow: hidden;
}
.rounded-box.horizontal .rounded-box-image img {
  width: auto;
  height: 140px;
}
.rounded-box.horizontal .rounded-box-desc {
  display: flex;
  flex-flow: column nowrap;
}
.rounded-box.horizontal .stars {
  margin-top: auto;
}
/**************************ROUNDED BOX BASIC*******************/
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 500px; /* so that items wrap */
  align-content: space-between;
}

/* mobile */
@media (max-width: 768px) {
  .flex-grid {
    border: 4px solid orange;
    max-height: none;
  }
}

.rounded-box.basic {
  max-width: 23%;
  margin: 20px 0;
  border: 0px solid;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.rounded-box.basic .rounded-box-image {
  height: 160px;
  position: relative;
  z-index: 1;
}
.rounded-box.basic .rounded-box-desc {
  position: absolute;
  z-index: 2;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
}
.rounded-box.basic:first-child,
.rounded-box.basic:nth-child(4) {
  height: 450px;
}
.rounded-box.basic:first-child .rounded-box-image,
.rounded-box.basic:nth-child(4) .rounded-box-image {
  position: absolute;
  height: 410px;
}
.rounded-box.basic:first-child .rounded-box-image img,
.rounded-box.basic:nth-child(4) .rounded-box-image img {
  height: 410px;
}
.rounded-box.basic:nth-child(2),
.rounded-box.basic:nth-child(6) {
  height: 250px;
}

.rounded-box.basic:nth-child(2) .rounded-box-image,
.rounded-box.basic:nth-child(6) .rounded-box-image {
  height: 210px;
  position: absolute;
}
.rounded-box.basic:nth-child(2) .rounded-box-image img,
.rounded-box.basic:nth-child(6) .rounded-box-image img {
  height: 210px;
}

/* mobile */
@media (max-width: 768px) {
  .rounded-box.basic {
    max-width: 100%;
  }

  a.rounded-box.basic,
  a.rounded-box.basic a.rounded-box-image,
  a.rounded-box.basic .rounded-box-image img {
    height: 210px !important;
  }
}
/*************************FOOTER*************************/
footer {
  background-color: var(--grey);
  padding: 40px;
}
footer nav {
  display: flex;
}
footer h5 {
  font-size: 16px;
  margin-block-start: 10px;
  margin-block-end: 10px;
}
.footer-nav-element {
  flex-grow: 4;
}
.footer-nav-element a {
  line-height: 30px;
  font-size: 16px;
}
@media (max-width: 768px) {
  footer {
    padding: 20px;
  }
  footer nav {
    flex-direction: column;
  }
  .footer-nav-element {
    margin-bottom: 20px;
  }
}
