@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");


/*************************GLOBAL CSS VARIABLES*************************/

:root {
  --main-blue: #0065fc;
  --clear-blue: #deebff;
  --grey: #f2f2f2;
  --black: #000;
  --white: #fff;
  --main-padding: 20px 50px;
}

/*************************BOX SIZING*************************/

div,
section,
article,
a,
p {
  box-sizing: border-box;
}
/*************************GLOBAL STYLE*************************/
body {
  background-color: var(--white);
}

/*************************HEADER*************************/

h1 {
  font-size: 21px;
}
.mainheader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.logo {
  width: 94px;
  height: fit-content;
  position: relative;
  top: 44px;
  margin-left: 65px;
}
.menu ul {
  display: flex;
}
.menu .menu-entry {
  display: block;
  position: relative;
  padding: 35px 40px;
  font-size: 15px;
  min-width: 190px;
  border-top: 3px solid var(--white);
  text-align: center;
}
.menu .menu-entry:hover,
.menu .menu-entry:active {
  border-top: 3px solid var(--main-blue);
  color: var(--main-blue);
  box-sizing: border-box;
}

/* tablette */
@media (max-width: 992px) {
  .mainheader {
    flex-direction: column;
  }
  .logo {
    margin: 0 auto 5px auto;
    top: 20px;
  }
  .menu li {
    width: 50%;
  }
  .menu .menu-entry {
    padding: 25px 25px 15px 25px;
    border-top: 0 solid;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--grey);
  }
  .menu .menu-entry:hover,
  .menu .menu-entry:active {
    border-top: 0 solid;
    border-bottom: 3px solid var(--main-blue);
  }
  .subheader-text {
    margin: 18px 0 32px 0;
  }
}

/* mobile */
@media (max-width: 768px) {
  nav.menu {
    position: relative;
    top: 20px;
  }
}

/*************************SUBHEADER*************************/

.subheader {
  padding: var(--main-padding);
}

/* mobile */
@media (max-width: 768px) {
  .subheader {
    padding: 15px 20px;
  }
}

/*************************SEARCH FORM*************************/

.search-form {
  margin-top: 22px;
  border: 1px solid var(--grey);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  max-width: 426px;
}
.icon-search-block {
  padding: 15px 20px;
  background-color: var(--grey);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 18px;
}
.inp-search {
  border: 0 solid transparent;
  padding: 15px;
  font-weight: 600;
  position: relative;
  left: 50px;
  width: calc(100% - 147px);
  font-size: 18px;
}
.button-search {
  min-width: 50px;
  background-color: var(--main-blue);
  color: var(--white);
  font-weight: 600;
  border-width: 0;
  padding: 15px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.fa-solid.fa-magnifying-glass {
  color: var(--white);
  display: none;
}
.search-text {
  display: inline;
  font-size: 18px;
}

/* mobile */
@media (max-width: 768px) {
  .button-search {
    border-radius: 15px;
  }
  .fa-solid.fa-magnifying-glass {
    display: block;
  }
  .search-text {
    display: none;
  }
}

/*************************FILTRES*************************/

.filters {
  padding: 2px 50px;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
}
.sort-title {
  margin: 0 38px 0 0;
}
.filter-icon {
  border-radius: 30px;
  background-color: var(--clear-blue);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: -2px;
}
.filter-icon i {
  font-size: 20px;
  color: var(--main-blue);
  transition-property: color;
  transition-duration: 0.5s;
}
.filter-box {
  border: 2px solid var(--grey);
  border-radius: 30px;
  display: flex;
  margin: 10px 25px 10px 0;
  font-size: 16px;
  font-weight: 800;
  align-items: center;
  transition-property: border-color;
  transition-duration: 0.5s;
}
.filter-box:hover {
  border-color: var(--main-blue);
}
.filter-box:hover .filter-icon {
  background-color: var(--main-blue);
}
.filter-box:hover .filter-icon i {
  color: var(--clear-blue);
}
.filter-text {
  padding: 0 20px 0 16px;
  font-size: 18px;
}

/* mobile */
@media (max-width: 768px) {
  .inp-search {
    width: calc(100% - 95px);
  }
  .filter-box {
    margin: 10px 10px 10px 0;
  }
  .filters {
    padding: 15px 20px;
  }
  .sort-title {
    display: block;
    width: 100%;
  }
}

/*************************CONTENT*************************/

.info-text {
  display: flex;
  align-items: center;
  padding: 0 20px 30px 0;
}
.info-text .fa-info {
  color: var(--main-blue);
}
.text-icon {
  border: 2px solid var(--grey);
  border-radius: 30px;
  width: 30px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 13px;
}
.content {
  padding: var(--main-padding);
}
.flex-content {
  display: flex;
  justify-content: space-between;
}
.activites {
  margin-top: 15px;
}

/* mobile */
@media (max-width: 768px) {
  .content {
    padding: 20px;
  }
  .activites .grey-rounded-title {
    margin-bottom: 25px;
  }
  .info-text {
    padding: 0 20px 20px 20px;
  }
}

/**************************GREY BLOCKS*******************/

.grey-rounded-title {
  margin-bottom: 12px;
}
.grey-rounded-box {
  border-radius: 20px;
  padding: 40px;
  background-color: var(--grey);
}
article.grey-rounded-box {
  flex-grow: 2;
  max-width: calc(69% - 34px);
  margin-right: 3%;
  position: relative;
}
aside.grey-rounded-box {
  flex-grow: 1;
  max-width: 30%;
  padding: 40px;
}
.flex-wrap-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.see-more {
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* tablette */
@media (max-width: 992px) {
  .see-more {
    font-size: 16px;
    padding: 20px;
    text-align: center;
    background-color: var(--grey);
    border-radius: 0 0 25px 25px;
  }
  article.grey-rounded-box,
  aside.grey-rounded-box {
    flex-grow: 1;
    max-width: 50%;
    max-height: 682px;
    overflow: hidden;
  }
}

/* mobile */
@media (max-width: 768px) {
  .see-more {
    padding: 20px 20px 20px 0;
    position: relative;
    background-color: transparent;
    text-align: left;
  }
  .accomodations.content {
    padding: 0;
  }
  .flex-content {
    flex-direction: column-reverse;
  }
  article.grey-rounded-box {
    padding: 40px 20px 0 20px;
    max-width: 100%;
    margin-right: 0;
    position: relative;
    max-height: none;
    background-color: var(--white);
  }
  aside.grey-rounded-box {
    border-radius: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 40px 20px 20px 20px;
  }
}

/**************************ROUNDED BOX*******************/

.rounded-box {
  border: 4px solid var(--white);
  border-radius: 20px;
  background-color: var(--white);
  overflow: hidden;
  width: calc(33% - 15px);
  box-shadow: 0 8px 15px 4px #cfcfcf;
  margin: 15px 0;
  display: block;
}
.rounded-box:hover {
  color: var(--main-blue);
}
.rounded-box-image {
  overflow: hidden;
  height: 120px;
  width: 100%;
  position: relative;
}
.rounded-box-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.rounded-box-desc {
  padding: 10px;
}
.marked-title {
  position: relative;
  margin-right: 30px;
}
.marked-title .fa-star {
  position: absolute;
  right: -30px;
}
.stars .fa-star {
  color: var(--grey);
  font-size: 11px;
}
.stars .fa-star.checked {
  color: var(--main-blue);
}

/* tablette */
@media (min-width: 769px) and (max-width: 992px) {
  .rounded-box {
    width: 100%;
  }
  .marked-title {
    margin-bottom: 20px;
  }
}

/* mobile supp breakpoint*/
@media (min-width: 571px) and (max-width: 768px) {
  .rounded-box {
    width: calc(50% - 20px);
    margin: 10px auto;
  }
}

/* mobile supp breakpoint 2*/
@media (max-width: 570px) {
  .rounded-box {
    width: 100%;
    margin: 10px auto;
  }
}

/**************************ROUNDED BOX HORIZONTAL*******************/

.rounded-box.horizontal {
  display: flex;
  max-width: 100%;
  margin: 28px 0 34px 0;
  width: 100%;
  max-height: 148px;
}
.rounded-box.horizontal .rounded-box-title {
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rounded-box.horizontal .rounded-box-image {
  height: 140px;
  width: 40%;
  overflow: hidden;
}
.rounded-box.horizontal .rounded-box-desc {
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
}
.rounded-box.horizontal .stars {
  margin-top: auto;
}

/* mobile supp breakpoint*/
@media (min-width: 571px) and (max-width: 768px) {
  aside.grey-rounded-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  aside.grey-rounded-box:after {
    content: "";
    flex: auto;
  }
  .marked-title {
    width: 100%;
    margin: 0 45px 14px 15px;
  }
  .grey-rounded-title,
  .activites.content .grey-rounded-title {
    margin: 0 45px 14px 15px;
  }
  .see-more {
    margin: 0 45px 0 15px;
  }
  .rounded-box.horizontal {
    width: calc(50% - 20px);
    margin: 10px;
  }
}

/* mobile supp breakpoint 2*/
@media (max-width: 571px) {
  .rounded-box.horizontal {
    margin: 10px auto;
  }
  aside.grey-rounded-box {
    padding: 40px 20px 30px 20px;
  }
  .marked-title {
    margin-bottom: 30px;
  }
}

/**************************ROUNDED BOX BASIC*******************/

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 500px;
  align-content: space-between;
}
.rounded-box.basic {
  max-width: 23%;
  margin: 20px 0;
  border: 0 solid;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.rounded-box.basic .rounded-box-image {
  height: 160px;
  position: relative;
  z-index: 1;
}
.rounded-box.basic .rounded-box-desc {
  position: absolute;
  z-index: 2;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
}
.rounded-box.basic:first-child,
.rounded-box.basic:nth-child(4) {
  height: 450px;
}
.rounded-box.basic:first-child .rounded-box-image,
.rounded-box.basic:nth-child(4) .rounded-box-image {
  position: absolute;
  height: 410px;
}
.rounded-box.basic:nth-child(2),
.rounded-box.basic:nth-child(6) {
  height: 250px;
}
.rounded-box.basic:nth-child(2) .rounded-box-image,
.rounded-box.basic:nth-child(6) .rounded-box-image {
  height: 210px;
  position: absolute;
}

/* mobile */
@media (max-width: 768px) {
  .flex-grid {
    max-height: none;
    display: block;
  }
  .rounded-box.basic {
    max-width: 100%;
    margin: 10px auto 20px;
  }
  .flex-grid a.rounded-box.basic,
  .flex-grid a.rounded-box.basic a.rounded-box-image {
    height: 194px;
  }
}
/* tablette */
@media (min-width: 769px) and (max-width: 992px) {
  .flex-grid {
    max-height: 412px;
  }
  .activites .rounded-box.basic {
    transform: scale(0.9);
    margin: 0;
    max-width: 25%;
  }
  .rounded-box.basic:first-child,
  .rounded-box.basic:nth-child(4) {
    height: 410px;
  }
  .rounded-box.basic:nth-child(2),
  .rounded-box.basic:nth-child(6) {
    height: 234px;
    top: 10px;
  }
  .rounded-box.basic:nth-child(3),
  .rounded-box.basic:nth-child(5) {
    height: 142px;
  }
  .rounded-box.basic:nth-child(3),
  .rounded-box.basic:nth-child(6) {
    position: relative;
    top: 20px;
  }
  .rounded-box.basic:nth-child(2),
  .rounded-box.basic:nth-child(5) {
    position: relative;
    top: 10px;
  }
}

/* mobile supp breakpoint*/
@media (min-width: 571px) and (max-width: 768px) {
  .flex-grid {
    max-height: none;
    display: flex;
    flex-direction: row;
  }
}

/*************************FOOTER*************************/

footer {
  background-color: var(--grey);
  padding: 40px 50px 50px 50px;
  margin-top: 20px;
}
footer nav {
  display: flex;
}
footer .footer-title {
  font-size: 18px;
  margin-block-start: 10px;
  margin-block-end: 15px;
}
.footer-nav-element {
  flex-grow: 4;
  max-width: 454px;
}
.footer-nav-element a {
  line-height: 30px;
  font-size: 16px;
}

/* mobile */
@media (max-width: 768px) {
  footer {
    padding: 20px;
  }
  footer nav {
    flex-direction: column;
  }
  .footer-nav-element {
    margin-bottom: 20px;
  }
}
