body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

a {
  text-decoration: none;
  color: var(--black);
}

p {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}
